default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username:
  password:


development:
  <<: *default
  database: notaris-backend_development

test:
  <<: *default
  database: notaris-backend_test

production:
  <<: *default
  database: notaris-backend_production
  username: notaris-backend
  password: <%= ENV['NOTARIS-BACKEND_DATABASE_PASSWORD'] %>
